FAIRversions/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 	xmlns:xs = "http://www.w3.org/2001/XMLSchema"
			xmlns:qudt = "http://qudt.org/vocab">
	<xs:element name = "Comparison">
		<xs:complexType>
			<xs:sequence minOccurs = "0" maxOccurs = "1">
				<xs:element name = "General_information">
                    <xs:complexType>
                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                            <xs:element name = "Comparison_code" type="xs:string"></xs:element>
                            <xs:element name = "Pilot">
                                <xs:complexType>
                                    <xs:sequence minOccurs = "0" maxOccurs = "1">                                
                                        <xs:element name = "Acronym" type = "xs:string"></xs:element>
                                        <xs:element name = "ROR_indentifier" type = "xs:anyURI"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name = "Comparison_data">
                    <xs:complexType>
                        <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                            <xs:element name = "Release">
                                <xs:complexType>
                                    <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                                        <xs:element name = "Year" type="xs:gYear"></xs:element>
                                        <xs:element name = "KCRV">
                                            <xs:complexType>
                                                <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                    <xs:element name = "value" type="xs:decimal"></xs:element>
                                                    <xs:element name = "unit" type="xs:string"></xs:element>
                                                    <xs:element name = "standard_deviation" type="xs:decimal"></xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "doi" type="xs:string"></xs:element>
                                        <xs:element name = "Degrees_of_equivalence" minOccurs ="0" maxOccurs = "unbounded">
                                            <xs:complexType>
                                                <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                                                    <xs:element name = "linked_comparison" minOccurs = "0">
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                <xs:element name = "Comparison_code" type="xs:string"></xs:element>
                                                                <xs:element name = "Consultative_Committee" type="xs:string" minOccurs="0"></xs:element>
                                                                <xs:element name = "RMO" type="xs:string" minOccurs="0"></xs:element>
                                                                <xs:element name = "Year" type="xs:gYear"></xs:element>
                                                                <xs:element name = "doi" type="xs:anyURI"></xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name = "Degree_of_equivalence">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name = "laboratory">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            <xs:element name = "Acronym" type = "xs:string"></xs:element>
                                                                            <xs:element name = "ROR" type = "xs:anyURI" minOccurs = "0"></xs:element>                                                                
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name = "value" type = "xs:decimal"></xs:element>
                                                                <xs:element name = "Expanded_uncertainty" type = "xs:decimal"></xs:element>      
                                                                <xs:element name = "unit" type = "xs:string"></xs:element>   
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name = "Comparison_metadata">
                    <xs:complexType>
                        <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                            <xs:element name = "Submission">
                                <xs:complexType>
                                    <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                                        <xs:element name = "laboratory">
                                            <xs:complexType>
                                                <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                    <xs:element name = "Acronym" type = "xs:string"></xs:element>
                                                    <xs:element name = "ROR" type = "xs:anyURI" minOccurs = "0"></xs:element>                                                                
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "year" type = "xs:gYear"></xs:element>
                                        <xs:element name = "inKCRV" type = "xs:boolean"></xs:element>
                                        <xs:element name = "DoE_valid" type = "xs:boolean"></xs:element>
                                        <xs:element name = "Radioactive_solutions">
                                            <xs:complexType>
                                                <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                                                    <xs:element name = "Radioactive_solution">
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                <xs:element name = "Solution_ID" type = "xs:string"></xs:element>
                                                                <xs:element name = "mass" minOccurs = "0" maxOccurs = "1">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            <xs:element name = "value" type = "xs:decimal"></xs:element>
                                                                            <xs:element name = "unit" type = "xs:string"></xs:element>
                                                                            <xs:element name = "standard_uncertainty" type = "xs:decimal" minOccurs = "0"></xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name = "Chemical_composition" minOccurs = "0" maxOccurs = "1">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            <xs:element name = "Solvant" minOccurs = "0" maxOccurs = "1">
                                                                                <xs:complexType>
                                                                                    <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                                        <xs:element name = "SMILES" type = "xs:string"></xs:element>
                                                                                        <xs:element name = "InChIKey" type = "xs:string"></xs:element>
                                                                                        <xs:element name = "Concentration" minOccurs = "0" maxOccurs = "1">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                                                    <xs:element name = "value" type = "xs:decimal"></xs:element>
                                                                                                    <xs:element name = "unit" type = "xs:string"></xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name = "Carrier" minOccurs = "0" maxOccurs = "1">
                                                                                <xs:complexType>
                                                                                    <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                                        <xs:element name = "SMILES" type = "xs:string"></xs:element>
                                                                                        <xs:element name = "InChIKey" type = "xs:string"></xs:element>
                                                                                        <xs:element name = "Concentration" minOccurs = "0" maxOccurs = "1">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                                                    <xs:element name = "value" type = "xs:decimal"></xs:element>
                                                                                                    <xs:element name = "unit" type = "xs:string"></xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "Laboratory_measurements">
                                            <xs:complexType>
                                                <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                    <xs:element name = "Mesurement" minOccurs = "0" maxOccurs = "unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                <xs:element name = "Reference_date" type = "xs:dateTime"></xs:element>
                                                                <xs:element name = "Half-life" minOccurs = "0">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            <xs:element name = "value" type = "xs:decimal"></xs:element>
                                                                            <xs:element name = "unit" type = "xs:string"></xs:element>
                                                                            <xs:element name = "standard_deviation" type = "xs:decimal" minOccurs = "0"></xs:element>
                                                                            <xs:element name = "reference" minOccurs = "0">
                                                                                <xs:complexType>
                                                                                    <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                                        <xs:element name = "detail" type = "xs:string" minOccurs = "0"></xs:element>
                                                                                        <xs:element name = "doi" type = "xs:anyURI" minOccurs = "0"></xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name = "Method_ID" type = "xs:string" minOccurs = "0"></xs:element>
                                                                <xs:element name = "Description" type = "xs:string" minOccurs = "0"></xs:element>
                                                                <xs:element name = "Comments" type = "xs:string" minOccurs = "0"></xs:element>
                                                                <xs:element name = "Activity" minOccurs = "0" maxOccurs = "1">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            <xs:element name = "value" type = "xs:decimal" minOccurs = "0"></xs:element>
                                                                            <xs:element name = "unit" type = "xs:string"></xs:element>
                                                                            <xs:element name = "relative_standard_uncertainty_type_A" type = "xs:decimal"></xs:element>
                                                                            <xs:element name = "relative_standard_uncertainty_type_B" type = "xs:decimal"></xs:element>                                                                            
                                                                            <xs:element name = "relative_standard_uncertainty_combined" type = "xs:decimal"></xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
