FAIRversions/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 	xmlns:xs = "http://www.w3.org/2001/XMLSchema"
            xmlns:dsi = "https://ptb.de/si"
            xmlns:si = "http://si-digital-framework.org/SI#"
            
            targetNamespace="BIPM_RI_II_K1_Schema"
            xmlns:comp="BIPM_RI_II_K1_Schema"
            elementFromDefault="qualified">
            
            <xs:import namespace = "https://ptb/de/si"
            schemaLocation = "https://www.ptb.de/si/v1.3.1/SI_Format.xsd"/>
            
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This schema is prototype to report BIPM.RI(II)-K1 comparisons in a machine-readable document. 
                </xs:documentation>
            </xs:annotation>
            
	<xs:element name = "Comparison">
		<xs:complexType>
			<xs:sequence minOccurs = "0" maxOccurs = "1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Key comparison results are key data in the realization of the derived unit becquerel for a given radionuclide.
                        The ultimate semantic reference is provided by http://si-digital-framework.org/SI#/becquerel
                        The key comparison reference value and degreees of equivalence obtained in BIPM.RI(II)-K1 comparisons
                        are made available in this machine-readable document. 
                    </xs:documentation"> 
                </xs:annotation>                        			
				<xs:element name = "General_information">
                    <xs:complexType>
                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                            <xs:element name = "Comparison_code" type="xs:string"></xs:element>
                            <xs:element name = "Pilot">
                                <xs:complexType>
                                    <xs:sequence minOccurs = "0" maxOccurs = "1">                                
                                        <xs:element name = "Acronym" type = "xs:string"></xs:element>
                                        <xs:element name = "ROR_indentifier" type = "xs:anyURI"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name = "Comparison_data">
                    <xs:complexType>
                        <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                            <xs:element name = "Release">
                                <xs:complexType>
                                    <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                                        <xs:element name = "Year" type="xs:gYear"></xs:element>
                                        <xs:element name = "KCRV">
                                            <xs:complexType>
                                                <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                    <xs:annotation>
                                                        <xs:documentation xml:lang="en">
                                                            The key comparison value KCRV is defined by a dsi: real element.
                                                            This element is expected to contain a value, a multiple of becquerel as unit,
                                                            and a standard uncertainty (a coverage factor equal to 1).
                                                            The unit is defined in http://si-digital-framework.org/SI#/becquerel
                                                        </xs:documentation"> 
                                                    </xs:annotation>
                                                    <xs:element ref="dsi:real">
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "doi" type="xs:string"></xs:element>
                                        <xs:element name = "Degrees_of_equivalence" minOccurs ="0" maxOccurs = "unbounded">
                                            <xs:complexType>
                                                <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                                                    <xs:element name = "linked_comparison" minOccurs = "0">
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                <xs:element name = "Comparison_code" type="xs:string"></xs:element>
                                                                <xs:element name = "Consultative_Committee" type="xs:string" minOccurs="0"></xs:element>
                                                                <xs:element name = "RMO" type="xs:string" minOccurs="0"></xs:element>
                                                                <xs:element name = "Year" type="xs:gYear"></xs:element>
                                                                <xs:element name = "doi" type="xs:anyURI"></xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name = "Degree_of_equivalence">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name = "laboratory">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            <xs:element name = "Acronym" type = "xs:string"></xs:element>
                                                                            <xs:element name = "ROR" type = "xs:anyURI" minOccurs = "0"></xs:element>                                                                
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:annotation>
                                                                	<xs:documentation xml:lang="en">         
                                                                   		Degrees of equivalence are defined by a dsi:real element.
                                                                   		This element is expected to contain a value, a multiple of becquerel as unit,
                                                                   		and an expanded uncertainty with a coverage factor equal to 2.
                                                                   		The unit is defined in http://si-digital-framework.org/SI#/becquerel
                                                                    </xs:documentation>
                                                                </xs:annotation>                                                                		                                                       
                                                                <xs:element ref="dsi:real"/> 
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name = "Comparison_metadata">
                    <xs:complexType>
                        <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                            <xs:annotation>
                               	<xs:documentation xml:lang="en">         
                            		The metadata of key comparisons BIPM.RI(II)-K1 provide administrative and technical information
                            		on each submission that contribute to the realization of the derived unit becquerel for a given radionuclide.
                                    The ultimate semantic reference is provided by http://si-digital-framework.org/SI#/becquerel
                                </xs:documentation>
                            </xs:annotation>  
                            <xs:element name = "Submission">
                                <xs:complexType>
                                    <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                                        <xs:element name = "laboratory">
                                            <xs:complexType>
                                                <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                    <xs:element name = "Acronym" type = "xs:string"></xs:element>
                                                    <xs:element name = "ROR" type = "xs:anyURI" minOccurs = "0"></xs:element>                                                                
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "year" type = "xs:gYear"></xs:element>
                                        <xs:element name = "inKCRV" type = "xs:boolean"></xs:element>
                                        <xs:element name = "DoE_valid" type = "xs:boolean"></xs:element>
                                        <xs:element name = "Radioactive_solutions">
                                            <xs:complexType>
                                                <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                                                    <xs:element name = "Radioactive_solution">
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                <xs:element name = "Solution_ID" type = "xs:string"></xs:element>
                                                                <xs:element name = "mass" minOccurs = "0" maxOccurs = "1">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            </xs:annotation>
                                                                                <xs:documentation xml:lang="en">         
                                                                                This mass measurement is defined by a dsi:real element.
                                                                          		This element is expected to contain a value, a multiple of kilogram as unit,
                                                                                and a (optional) standard uncertainty (a coverage factor equal to 1).                                                               	and an expanded uncertainty with a coverage factor equal to 2.
                                                                                The SI base unit kilogram is defined in http://si-digital-framework.org/SI#/kilogram
                                                                                </xs:documentation>
                                                                            </xs:annotation>                                                                		                                                       
                                                                            <xs:element ref="dsi:real"/> 
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                 <xs:element name = "density" minOccurs = "0" maxOccurs = "1">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                             </xs:annotation>
                                                                                 <xs:documentation xml:lang="en">         
                                                                                 This density measurement is defined by a dsi:real element.
                                                                           		 This element is expected to contain a value, a coherent derived unit for the derived quantity density,
                                                                                 and a (optional) standard uncertainty (a coverage factor equal to 1).                                                               	and an expanded uncertainty with a coverage factor equal to 2.
                                                                                 The derived unit is composed by:
                                                                                 the SI base unit kilogram defined in http://si-digital-framework.org/SI#/kilogram
                                                                                 the SIR base unit metre defined in http://si-digital-framework.org/SI#/meter
                                                                                 </xs:documentation>
                                                                             </xs:annotation>
                                                                             <xs:element ref="dsi:real"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name = "Chemical_composition" minOccurs = "0" maxOccurs = "1">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            <xs:element name = "Solvant" minOccurs = "0" maxOccurs = "1">
                                                                                <xs:complexType>
                                                                                    <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                                        <xs:element name = "SMILES" type = "xs:string"></xs:element>
                                                                                        <xs:element name = "InChIKey" type = "xs:string"></xs:element>
                                                                                        <xs:element name = "SolvantConcentration" minOccurs = "0" maxOccurs = "1">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                                                     </xs:annotation>
                                                                                                         <xs:documentation xml:lang="en">         
                                                                                                         This concentration measurement is defined by a dsi:real element.
                                                                                                   		 This element is expected to contain a value, a coherent derived unit for the derived quantity amount of substance concentration,
                                                                                                         The derived unit is composed by:
                                                                                                         the SI base unit mole defined in http://si-digital-framework.org/SI#/mole
                                                                                                         the SIR base unit metre defined in http://si-digital-framework.org/SI#/meter
                                                                                                         </xs:documentation>
                                                                                                     </xs:annotation>
                                                                                                     <xs:element ref="dsi:real"/>                                                                                                
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name = "Carrier" minOccurs = "0" maxOccurs = "1">
                                                                                <xs:complexType>
                                                                                    <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                                        <xs:element name = "SMILES" type = "xs:string"></xs:element>
                                                                                        <xs:element name = "InChIKey" type = "xs:string"></xs:element>
                                                                                        <xs:element name = "CarrierConcentration" minOccurs = "0" maxOccurs = "1">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                                                     </xs:annotation>
                                                                                                         <xs:documentation xml:lang="en">         
                                                                                                         This concentration measurement is defined by a dsi:real element.
                                                                                                   		 This element is expected to contain a value, a coherent derived unit for the quantity mass ratio,
                                                                                                         The derived unit is composed by:
                                                                                                         the SI base unit kilogram defined in http://si-digital-framework.org/SI#/kilogram 
                                                                                                         the SIR base unit kilogram defined in http://si-digital-framework.org/SI#/kilogram 
                                                                                                         </xs:documentation>
                                                                                                     </xs:annotation>
                                                                                                     <xs:element ref="dsi:real"/>     
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name = "impurities" type = "xs:string"></xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "Laboratory_measurements">
                                            <xs:complexType>
                                                <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                    <xs:element name = "Mesurement" minOccurs = "0" maxOccurs = "unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                <xs:element name = "Reference_date" type = "xs:dateTime"></xs:element>
                                                                <xs:element name = "Solution_ID" type = "xs:string"></xs:element>
                                                                <xs:element name = "Half-life" minOccurs = "0">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            </xs:annotation>
                                                                                <xs:documentation xml:lang="en">         
                                                                                    This concentration measurement is defined by a dsi:real element.
                                                                                    This element is expected to contain a value, a base unit for the quantity time,
                                                                                    and a (optional) standard uncertainty (a coverage factor equal to 1).
                                                                                    The base unit second is defined in http://si-digital-framework.org/SI#/second 
                                                                                </xs:documentation>
                                                                            </xs:annotation>
                                                                            <xs:element ref="dsi:real"/>
                                                                            <xs:element name = "reference" minOccurs = "0">
                                                                                <xs:complexType>
                                                                                    <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                                        <xs:element name = "detail" type = "xs:string" minOccurs = "0"></xs:element>
                                                                                        <xs:element name = "doi" type = "xs:anyURI" minOccurs = "0"></xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name = "Method_ID" type = "xs:string" minOccurs = "0"></xs:element>
                                                                <xs:element name = "Description" type = "xs:string" minOccurs = "0"></xs:element>
                                                                <xs:element name = "Comments" type = "xs:string" minOccurs = "0"></xs:element>
                                                                <xs:element name = "Activity" minOccurs = "0" maxOccurs = "1">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            </xs:annotation>
                                                                                <xs:documentation xml:lang="en">         
                                                                                    The activity measurement is defined by a dsi:real element.
                                                                                    This element is expected to contain a value, a multiple derive unit becquerel,
                                                                                    and a standard uncertainty (a coverage factor equal to 1).
                                                                                    The derived SI unit becquerel is defined in http://si-digital-framework.org/SI#/becquerel 
                                                                                </xs:documentation>
                                                                            </xs:annotation>
                                                                            <xs:element ref="dsi:real"/>
                                                                            <xs:element name = "relative_standard_uncertainty_type_A" type = "xs:decimal"></xs:element>
                                                                            <xs:element name = "relative_standard_uncertainty_type_B" type = "xs:decimal"></xs:element>                                                                            
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "BIPM_measurements">
                                            <xs:complexType>
                                                <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                                                    <xs:element name = "BIPM_measurement">
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                                                                <xs:element name = "Solutions">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            <xs:element name = "Solution_ID" type = "xs:string" maxOccurs = "unbounded"></xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name = "Methods">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            <xs:element name = "Method" type = "xs:string" maxOccurs = "unbounded"></xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name = "Reference_source" type = "xs:string" minOccurs = "0"></xs:element>
                                                                <xs:element name = "Equivalent_activity">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            </xs:annotation>
                                                                                <xs:documentation xml:lang="en">         
                                                                                    The equivalent activity measurement is defined by a dsi:real element.
                                                                                    This element is expected to contain a value, a multiple derive unit becquerel,
                                                                                    and a standard uncertainty (a coverage factor equal to 1).
                                                                                    The derived SI unit becquerel is defined in http://si-digital-framework.org/SI#/becquerel 
                                                                                </xs:documentation>
                                                                            </xs:annotation>
                                                                            <xs:element name = "relative_standard_uncertainty_from_SIR" type = "xs:decimal" minOccurs = "0"></xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>                                                                
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
